<section class="book-container detail-view">
 <img src="<%= book.image_url %>">
  <h3>
    <%= book.title %><% if (book.subtitle) { %>: <%= book.subtitle %> <% } %>
  </h3>
  <span>
    <%= book.author %>
  </span>
  <p class="desc">
    <%= book.description %>
  </p>
  <p class="isbn">
    <%= book.isbn %> 
    <% if ( book.bookshelf) { %>
      &mdash;
      Bookshelf:
      <%= book.bookshelf %>
    <% } %>
  </p>
  <form action="<%= `/books/${book.id}` %>" method="POST">
   <input type="hidden" name="_method" value="put">
   <span>author</span> <input type="text" name="author" value = "<%= book.author %>" />
   <span>title</span> <input type="text" name="title" value = "<%= book.title %>"/>
   <span>description</span> <input type="textarea" name="description" value = "<%= book.description %>" />
   <span>bookshelf</span> <input type="text" name="bookshelf" value = "<%= book.bookshelf %>"/>
    <button type="submit">Submit</button>
  </form>

</section>
