<section class="book-results">
    <img src="<%= book.image_url %>">
    <h3> <%= book.title %> </h3>
    <%= book.author %>
    <% if ( book.bookshelf) { %>
        &mdash;
        Bookshelf:
        <%= book.bookshelf %>
      <% } %>
      <button><a class="button_link" href="../books/<%= book.id %>">View Details</a></button>
</section>
