<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../../layout/head') %>
      </head>
      
      <body>
        <header>
          <%- include('../../layout/header') %>
        </header>
<main>
  <% searchResults.forEach(item => { %>
    <div class="book-results">
      <img src="<%= item.image %>"/>

      <h2><%= item.title %></h2>

      <p><%= item.author %></p>
    
      <p><%= item.description %></p>
      <button><a class="button_link" href="#">Add To My Collection</a></button>
    </div>
      <% }) %>

</main>
</body>

</html>