<!DOCTYPE html>
<html lang="en">    

<head>
    <%- include('../layout/head') %>
  </head>
  
  <body>
    <header>
      <%- include('../layout/header') %>
    </header>
  
        <main>
            <% results.forEach(item => { %>  
              <div class="book-results">
                  <img src="<%= item.image_url %>"/>
                
                  <h2><%= item.title %></h2>
                
                  <p><%= item.author %></p>
                 
                  <p><%= item.description %></p>
              </div>
              <% }) %>
        </main>
      </body>
</html>